body{
    background-color: lightgrey;
    font-family: sans-serif;
}
.topHeading{
    margin: 30px 5px 0px 5px;
}
.topHeading > h1{
    margin-bottom: 0px;
}
.topHeading > p{
    margin-top: 0px;
    margin-left: 100px;   
}
.content{
    position: relative;
    text-align: center;
}
.content > a > span{
      padding: 15px;
}
.midContainer{
    padding-right: 0px;
    padding-left: 0px;
    background-color: rgb(54, 69, 87);
    width: 25%;
    height: 800px;  
    position: relative;
}.midContainerContent{
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    color: white;
    position: absolute;
    text-align: center;
    /* background-color: grey;  */
}
.midContainerContent >  img{
    height: 50%;
    width: 100%;
}
.midContainerContent >  p{
    color: white;
    font-size: 15px;
    margin-left: 80px;
    margin-right: 80px;
    font-family: serif;
}
.midContainerContent > h5{
    margin-top: 30px;
    color: white;
}
.midContainerContent > a{
    text-decoration: none;
}
.midContainer:hover{
    transform: scale(1.03); 
}
.midContainer button{
    display: none;
}
.midContainer:hover button{
    display: inline-block;
}